---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% set base = "https://nutekh.vercel.app" %}
  {% set pages = [
    "/",
    "/page-about/",
    "/page-services/",
    "/page-pricing/",
    "/page-contact/",
    "/portfolio-grid/",
    "/package-launch/",
    "/package-grow/",
    "/package-scale/",
    "/marketing-engine/"
  ] %}
  {% for p in pages %}
  <url>
    <loc>{{ base }}{{ p }}</loc>
  </url>
  {% endfor %}
</urlset>
