<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="{{ metaKeywords | default('Nutekh Tech Agency Company Growth Efficiency') }}">
    <meta name="description" content="{{ metaDescription | default('Nutekh - Tech Agency Fostering Company Growth and Efficiency') }}">
    <meta name="author" content="">

    <title>{{ pageTitle | default('Nutekh') }}</title>

    <link rel="shortcut icon" href="assets/imgs/favicon.ico">
    <link rel="apple-touch-icon" href="assets/imgs/apple-touch-icon.png">
    <link rel="android-chrome" sizes="192x192" href="assets/imgs/android-chrome-192x192.png">
    <link rel="favicon" sizes="32x32" href="assets/imgs/favicon-32x32.png">

    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
