<nav class="navbar navbar-expand-lg">
    <div class="container align-items-center">
        <a class="logo w-100px" href="/">
            <img src="assets/imgs/nutekhlogo.png" alt="Nutekh logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link{% if navActive == 'home' %} active{% endif %}" href="/"><span class="rolling-text">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if navActive == 'about' %} active{% endif %}" href="/page-about"><span class="rolling-text">About Us</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if navActive == 'services' %} active{% endif %}" href="/page-services"><span class="rolling-text">Services</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if navActive == 'projects' %} active{% endif %}" href="/portfolio-grid"><span class="rolling-text">Projects</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if navActive == 'contact' %} active{% endif %}" href="/page-contact"><span class="rolling-text">Contact Us</span></a>
                </li>
            </ul>
        </div>
        <div class="dark-mode-icon">
            <button type="button" class="theme-icon">
                <i aria-hidden="true" class="pe-7s-moon moon" title="Toggle between dark and light mode"></i>
                <i aria-hidden="true" class="pe-7s-sun sun" title="Toggle between dark and light mode"></i>
            </button>
        </div>
    </div>
</nav>
